.csContainer {
  cursor: default;
  border-style: none;
}

.charsetSelectButton {
  margin-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(173,173,173);
  cursor: default;
}

.charsetSelectButton:hover {
  color: rgb(255,255,255);
}