
.topmenu {
  grid-area: topmenu;
  background-color: #a7a;
  padding-top: 10px;
  padding-bottom: 10px;
}

.leftmenubar {
  grid-area: leftmenu;
  background-color: rgb(51, 51, 51);
  height: 100vh;
}

.editor {
  grid-area: editor;
}

.appGrid {
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: 50px auto;
  grid-template-rows: auto auto;

  grid-template-areas:
    "topmenu topmenu"
    "leftmenu editor";
}

