.editorLayoutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fbContainer {
  cursor: default;
  border-style: solid;
  border-width: 32px;
  overflow: hidden;
}

.csContainer {
  cursor: default;
  border-style: none;
}

.pixelated {
  image-rendering: pixelated;
}

.charSelected {
  outline-style: solid;
  outline-color: rgb(255, 255, 255);
  outline-width: 1px;
  z-index: 1;
}

.char {
}

.char:hover {
  outline-style: solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-width: 1px;
  z-index: 1;
}
