.editorLayoutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fbContainer {
  cursor: default;
  border-style: solid;
  border-color: rgb(123, 113, 202);
  border-width: 32px;
}

.csContainer {
  cursor: default;
  border-style: none;
  margin-left: 5px;
}

.charHover {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  z-index: 1;
}

.charSelected {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  z-index: 1;
}

.pixelated {
    image-rendering: pixelated;
}