
.tabHeadings {
  padding-top: 4px;
  padding-bottom: 0px;
  background-color: #000;

}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0);
}

.tab.active {
  border-color: rgba(255,255,255,0.6);
}
