
.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0); /* invisible border */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 7px;
    left: 50px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .colorpicker {
    position: absolute;
    top: 15px;
    left: 48px;
    z-index: 1;
}

.icon {
    color: rgb(173,173,173);
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
}

.icon:hover {
    color: rgb(255,255,255);
}

.tooltip.selectedTool {
 border-style: solid;
 border-width: 1px;
 border-color: rgba(255,255,255,0.4);
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  animation-timing-function: ease-in;
}

.brushMenuContainer {
  position: absolute;
  top: 0px;
  left: 54px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.brushButton {
  padding-left: 8px;
  padding-right: 8px;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
