
.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 80%;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 14px;
    left: 50px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .colorpicker {
    position: absolute;
    top: 15px;
    left: 48px;
    z-index: 1;
}

.icon {
    color: rgb(173,173,173);
    padding-top: 10px;
}

.icon:hover {
    color: rgb(255,255,255);
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
  animation-timing-function: ease-in;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
