/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: rgb(25,25,25);
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  margin:0px;
  user-select: none;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3 {
  color: rgb(200, 200, 200);
}

h2, h3, h4 {
  margin-bottom: 5px;
}

h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(200, 200, 200);
  font-weight: 500;
}

button {
    outline: none;
    background-color: #008CBA;
    border: none;
    color: white;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 8px 8px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
  background-color: #007CAA;
}

button.primary {

}

button.primary:hover {
  background-color: #007CAA;
}

button.cancel {
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255, 0.3);
    color: white;
}

button.cancel:hover {
    border-color: rgba(255,255,255, 0.2);
}
