/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #008CBA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 4px;
  top: 3px;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/**********************************************************/
/* Customize the label (the container) */
.radioButtonContainer {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radioButton */
.radioButtonContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radioButton */
.radiocheckmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioButtonContainer:hover input ~ .radiocheckmark {
  background-color: #ccc;
}

/* When the radioButton is checked, add a blue background */
.radioButtonContainer input:checked ~ .radiocheckmark {
  background-color: #008CBA;
}

/* Create the radiocheckmark/indicator (hidden when not checked) */
.radiocheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the radiocheckmark when checked */
.radioButtonContainer input:checked ~ .radiocheckmark:after {
  display: block;
}

/* Style the radiocheckmark/indicator */
.radioButtonContainer .radiocheckmark:after {
  left: 5px;
  top: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

/*------------------------------------------*/

.numberInputContainer {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.numberInputContainer input {
  margin-left: 10px;
  width: 40px;
  background-color: #333;
  color: rgb(170,170,170);
  font-size: 1.0em;
}

.numberInputContainer input[type=number]:focus {
  outline:none;
}
